html {
	  box-sizing: border-box;
		font: 28px "Helvetica Black", Helvetica, Arial;
}

*, *::before, *::after {
	  box-sizing: inherit;
		text-align: left;
}

article {
	display: inline-block;
	border: 2px solid black;
	padding: 5px;
	width: 680px;
}

h1 {
	margin: 0;
	font-family: "Franklin Gothic Heavy", Arial;
	font-size: 3.0rem;
	line-height: 3.0rem;
}

h2 {
	margin: 0px;
	font-size: 1rem;
}

p {
	margin: 0;
}

table {
	border-collapse: collapse;
	width: 100%
}

header, section tbody:first-of-type {
	border-bottom: 20px solid black;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

section th,
section td {
	border-top: 1px solid black;
}

section th:last-of-type, section td:last-of-type {
	text-align: right;
}

section thead {
	border-bottom: 15px solid black;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

section tfoot td:first-of-type {
	text-align: left;
	font-size: 0.9rem;
	text-indent: -0.7rem;
	padding: .5rem 0 .5rem .7rem;
}

footer th {
	border-bottom: 1px solid black;
}

footer *{
	text-align: left;
	font-weight: normal;
}

.detail {
	width: 1rem;
	border: none;
}

